<nav class="nav">
    <h1> Denver 9 News Scraper </h1>

    <ul>
        <li> <a href="/"> Home</a> </li>
        <li><a href="/saved"> Saved Articles </a></li>
        <li><button class="button" id="scrape"> Scrape Articles </button></li>
        <li><button class="button" id="clear"> Clear Articles</button> </li>
    </ul>
</nav>
<div id="articles-wrap">

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="/js/app.js"></script>
<script src="/js/scrape.js"></script>
<script src="/js/clear.js"></script>
<script src="/js/saveFaves.js"></script>